body {
    font-family: "Inter", sans-serif;
}

.photos {
    float: left;
    width: 300px;
}

.profilePicture{
    width: 100%;
}

.accordion {
    width: 700px;
    margin: 100px auto;
}

.section {
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
    padding: 24px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 24px;
    row-gap: 24px;
}

.number {
    font-size: 24px;
    font-weight: bold;
    color: purple;
}

.title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: purple;
}

.collapsedIcon {
    padding-top: 25px;
    width: 24px;
    height: 24px;
    stroke: purple;
}

.dogData {
    grid-column: 2;
}

.humanData {
    grid-column: 2;
}

.otherData {
    grid-column: 2;
}