body {
    background-color: #dee2e6;
    font-family: "Inter", sans-serif;
    margin: 10px auto;
    max-width: 1200px;
    display: grid;
    align-items: center;
    grid-template-columns: 500px 700px;
    column-gap: 24px;
}

@media (max-width: 600px) {

    body {
        display: flex;
        flex-direction: column;
        width: 500px;
        height: 1300px;
        align-items: center;
        justify-content: center;
    }

    header {
        background-color: #da77f2;
        width: 500px;
        height: 50px;
    }


    footer {
        background-color: #da77f2;
        width: 500px;
        height: 50px;
    }


    .carousel {
        /* transform: scale(60%); */
    }

    .accordion {
        max-width: 500px;
        margin-left: 100px;
    }
}

header,
footer {
    background-color: #da77f2;
    max-width: 1200px;
    height: 50px;
    grid-column: 1/-1;
}

.carousel {
    display: flex;
    align-items: center;
    gap: 24px;
    width: 500px;
    border-radius: 8px;
    grid-column: 1;
    position: relative;

}

.profilePicture {
    width: 100%;
    border-radius: 20px;
    transform: scale(.8);
}

.carouselName {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -100px);
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.9);
}

.accordion {
    width: 700px;
    grid-column: 2;
    transform: translate(-50px);
}

.key{
    font-weight: bold;
}

.btn {
    background-color: white;
    border: none;
    height: 40px;
    width: 40px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn--left {
    left: 0;
    transform: translate(70%);
}

.btn--right {
    right: 0;
    transform: translate(-70%);
}

.btn-icon {
    height: 24px;
    width: 24px;
    stroke: black;
}

.section {
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
    margin: 20px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 24px;
    row-gap: 20px;
}

.number {
    padding-left: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #862e9c;
}

.title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #862e9c;
}

.collapsedIcon {
    padding: 25px 10px 0 0;
    width: 24px;
    height: 24px;
    stroke: #862e9c;
}

.dogData {
    grid-column: 2;
    display: none;
}

.humanData {
    grid-column: 2;
    display: none;
}

.otherData {
    grid-column: 2;
    display: none;
}

.open {
    border-top: 4px solid #da77f2;
}

.open .dogData,
.open .humanData,
.open .otherData {
    display: block;
}

.open .title,
.open .collapsedIcon,
.open .number {
    color: #da77f2;
}

.dots {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -40px);
    bottom: 0;
    display: flex;
    gap: 12px;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: white;
    border: 1px solid #da77f2;
    border-radius: 50%;
    cursor: pointer;
}

.dot--fill {
    background-color: #da77f2;
}