.header, .footer {
    grid-column: 1 / -1;
    background: blue;
    color: #fff;
  }
.profilePicture {
    width: 334px;
    height: 500px;
    display: flex;
}

.content {
    justify-content: center;
    display: flex;
    gap: 40px;
}

.row1 {
    display: grid;
    gap: 20px;
}

.dogData {
    grid-column: 1/1;
}

.humanData {
    grid-column: 2/3;
}

.otherData {
    grid-row: 2/3;
    align-self: center;
}