tr {
    display: block;
    float: left;
}

th,
td {
    display: block;
}
thead{
    
}
.content-table {
    border-collapse: collapse;
    font-size: 15px;
    text-align: left;
    border-radius: 5px 5px 0 0 ;
    overflow: hidden;
    box-shadow: 0 0 20px (0,0,0,0.15)
}
.content-table  .table-header{
    /* background-color: #2a2a2a; */
}

.content-table th, .content-table td {
    padding: 0px 24px;
}

.content-table td:hover {
    background-color: #ddd;
    color: black;
}