* {
    margin: 0;
}

.display-picture {
    display: flex;
    width: 300px;
    height: 500px;
    border: 1px solid #ececec;
    background-color: #2a2a2a;
    color: white;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.profilePicture {
    grid-area: 1/1;
    width: 100%;
    height: 100%;
    grid-area: picture;
}

.dog-name {
    position: absolute;
    bottom: 0;
}

.container {
    display: grid;
    grid-template-columns: minmax(150px,300px) 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    'header header header'
    'picture dogData humanData'
    'picture otherData otherData'
    'footer footer footer';
    gap: 24px;
    color: white;
}

.key {
    font-weight: bold;
}

.dog-data {
    display: flex;
    grid-area: 1/2;
    color: white;
    justify-content: center;
    align-items: start;
}