nav {
    background-color: var(--clr4);
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    border: 1px solid white;
    
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav li {
    margin: 0 10px;
    text-align: center;
    flex-grow: 1;
}

nav a {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--clr3);
    font-size: 14px;
    position: relative;
}

nav ul li a .icon {
    position: absolute;
    display: block;
    font-size: 24px;
    text-align: center;
    justify-content: center;
    color: var(--clr1);
}

nav ul li a .text {
    
    text-align: center;
    justify-content: center;
    transition: 0.5s;
    color: var(--clr1);
    transform: translateY(100%);
    opacity: 0;
}
nav ul li.active a .icon {
    position: absolute;
    display: block;
    font-size: 24px;
    text-align: center;
    justify-content: center;
}