.picker {
    background-color: var(--clr4);
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: 10px;
    margin-bottom: -20px;
}

.picker .pet {
    width: 100px;
    height: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


