
.card {
    display: grid;
    max-width: 1000px;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 50px 166px 166px 166px 50px;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    color: white;
    justify-content: space-around;
    align-items: start;
    padding: 12px;
    margin: 50px auto;
    background-color: #4b4b4b;
    gap: 12px;
}

.header {
    max-width: 1000px;
    grid-row: 1;
    grid-column: 1/-1;
}

.footer {
    max-width: 1000px;
    align-self: self-end;
    grid-row: 5;
    grid-column: 1/-1;
}

.carrousel {
    float: left;
    grid-row: 2/3;
    grid-column: 1;
}

.dog-data,
.human-data,
.other-data {
    max-width: 600px;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin: 1rem 0;
    border: 1px solid #ececec;
    background-color: #2a2a2a;
    border-radius: 12px;
}

.dog-data {
    grid-area: 2/2/-1/-1;
}

.human-data {
    grid-area: 3/2/-1/-1;
}

.other-data {
    grid-area: 4/2/-1/-1;
}

.accordion {
    width: 500px;
}

.accordion .content {
    display: flex;
    background-color: grey;
    border-radius: 6px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordion label {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

label::before {
    content: "+";
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
}

input[type="radio"] {
    display: none;
}

.accordion input[type="radio"]:checked+label+.content {
    max-height: 400px;
    padding: 10px 10px 20px;
}

.accordion input[type="radio"]:checked+label::before {
    content: "-";
}