.landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.landing-page-wrapper {
    font-size: 24px;
    gap: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2a2a2a;
    border: 1px solid white;
    border-radius: 12px;
    color: white;
    width: 740px;;
    height: 500px;
}

.btn {
    width: 50%;
    height: 50pxspx;
    background-color: transparent;
    color: white;

    font-size: 24px;
    border-radius: 25px;
    border: 1px solid white;
    text-align: center;
}

.btn:hover {
    background-color: #a2a2a2;
    color: #2a2a2a;
}