* {
    text-align: left;
}

label {
    display: block;
}

table {
    color: black;
    background-color: white;
    border-collapse: collapse;
}

.card {
    display: grid;
    text-align: center;
    max-width: 740px;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 50px 166px 166px 166px 50px;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    color: white;
    justify-content: space-around;
    padding: 12px;
    margin: 50px auto;
    background-color: #4b4b4b;
    gap: 12px;
}

.header {
    max-width: 1000px;
    grid-row: 1;
    grid-column: 1/-1;
}

.footer {
    max-width: 1000px;
    grid-row: 5;
    grid-column: 1/-1;
}

.carrousel {
    justify-content: center;
    align-items: center;
    grid-row: 2/3;
    grid-column: 1;
}

tr:hover td {
    cursor: pointer;
    color: black;
    font-weight: bold;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

td.highlight {
    padding: 0;
    width: 10px;
}

td.highlight div {
    width: 4px;
    height: 30px;
    border-radius: 4px;
    background-color: white;
    transition: all 0.2s ease-in-out;
}

td.value {
    padding: 2px 50px;
}

tr:hover {
    box-shadow: 10px 9px 4px -6px grey;
}

tr:hover td.highlight div {
    transform: scaleX(3);
    background-color: white;
}

.dog-data,
.human-data,
.other-data {
    max-width: 600px;
    padding: 0.5rem;
    margin: 20px 0;
    border: 1px solid #ececec;
    background-color: #2a2a2a;
    border-radius: 12px;
}

.dog-data {
    grid-area: 2/2/-1/-1;
}

.human-data {
    grid-area: 3/2/-1/-1;
}

.other-data {
    grid-area: 4/2/-1/-1;
}

.content {
    margin: 0;
    padding: 0;
    max-width: 400px;
}

.accordion .content {
    background-color: white;
    border-radius: 6px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordion label {
    align-items: center;
    padding: 1px;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}


label::before {
    content: "+";
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
}

input[type="radio"] {
    display: none;
}

.accordion input[type="radio"]:checked+label+.content {
    max-height: 400px;
    padding: 10px 10px 20px;
}

.accordion input[type="radio"]:checked+label::before {
    content: "-";
}

@media (max-width: 740px) {
    .card {
        display: grid;
        max-width: 1fr;
        min-width: 350px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
    }

    header {
        grid-row: 1;
    }

    footer {

        grid-row: 4;
    }

    .slider-component {
        display: flex;
        justify-content:center;
    }

    .content {
       display: flex;
       flex-direction: column;
       margin: 0 auto;
    }
}